.img-container {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.img-movie {
    width: 100%;
}

.item-wrapper a {
    cursor: pointer;
}

.conteiner-icon {
    background-color: black;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    display: flex;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}

.play-icon {
    font-size: 74px;
    color: white;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 65px;
    height: 70px;
}

.movie-link-detail {
    cursor: pointer;
}

.movie-link-detail:hover .conteiner-icon {
    opacity: .5;
}

.img-container {
    width: 100px;
    /* background-color: purple; */
}

.container {
    width: 85%;
}

.img-movie-mobile {
    width: 100%;
}

.tool {
    width: 300px;
}

.tool-title {
    color: #ecaf2a;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    padding-bottom: 10px;
}

.tool-decription {
    background-color: white;
    color: black;
    width: 100%;
    padding: 5px 20px;
}

.tool-duration {
    padding-left: 20px;
    padding-right: 20px;
}

.tool-stars {
    color: #ecaf2a;
    padding: 5px 20px;
    font-size: 18px;
}

.__react_component_tooltip {
    padding: 0 0;
}

.detail-container {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .container {
        width: 100%;
    }
}